@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	font-family: "Helvetica", "Arial";
}

IMG.imgcenter{
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      }

#ingeniera{
	cursor: pointer;
	
}

#artista{
	cursor: pointer;
}

.caption-text-ingeniera{
	position: absolute;
	text-align: center;
	bottom: 80%;
	left: 46%;
	cursor: pointer;
	color: #143788;
}

.caption-text-ingeniera a{
	text-decoration: none;
	font-size: 120%;
	font-weight: 700;
}

.caption-text-ingeniera a:hover{
	background: #b1bdd7;
	border-radius: 32%;
	font-size: 132%;
}

.caption-text-artista{
	position: absolute;
	text-align: center;
	bottom: 65%;
	left: 46%;
	cursor: pointer;
	color: #143788;
}

.caption-text-artista a{
	text-decoration: none;
	font-size: 120%;
	font-weight: 700;
}

.caption-text-artista a:hover{
	background: #b1bdd7;
	border-radius: 32%;
	font-size: 132%;
}

